body {
    margin: 0;
    padding: 0;
}

input {
    border-radius: 16px;
    border: 1px solid #999;
    width: 200px;
    padding: 6px 16px;
    margin: 0 16px;
    outline: none;
}

button {
    border-radius: 16px;
    border: 1px solid #999;
    padding: 4px 16px;
    margin: 0 8px;
}

button:hover {
    background-color: tomato;
    color: #fff;
    cursor: pointer;
}

.input-area {
    background-color: #c1e4ff;
    width: 400px;
    height: 30px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

.incomplete-area {
    background-color: #aefad7;
    width: 400px;
    min-height: 200px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

.complete-area {
    background-color: #fcfcc3;
    width: 400px;
    min-height: 200px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

.title {
    text-align: center;
    margin-top: 0;
    font-weight: bold;
    color: #666;
}

.list-row {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}

.list-row > p {
    margin-right: 8px;
}
